html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: #f3f5fc;
}

.underlined {
  display: flex;
}
.drawLines {
  border-bottom: solid 4px #0a3871;
  width: 30px;
  margin: 10px;
}

.btn-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px;
  position: relative;
  width: 317px;
  height: 110px;
  left: 0;
  top: 15rem;
  background: #0a3871;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #ffffff;
}

.btn-word {
  display: flex;
  flex-direction: row;
  padding: 24px;
  position: relative;
  width: 280px;
  height: 67px;
  left: 1.2rem;
  top: 17rem;
  border: 1px solid #0a3871;
  box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  justify-content: center;
  color: #0a3871;
}

.text-input {
  position: absolute;
  width: 600px;
  height: auto;
  left: 1.5rem;
  top: 200px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  justify-content: baseline;
  color: #0a3871;
  background: transparent;
  border: none;
  text-transform: uppercase;
}
::placeholder {
  color: #0a3871;
}

.text-input:focus {
  border: none;
  outline: none;
}
.logo {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 100px;
  height: 80px;
}
.img-alert {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
label {
  flex-direction: row;
  position: static;
  width: 300px;
  height: 18px;
  left: 24px;
  top: 0px;
  padding-left: 25px;
  font-weight: 600;
  font-family: Inter;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  color: #495057;
}
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: auto;
  height: 18px;
  left: 2rem;
  top: 41rem;
}
.btn-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 680px;
  height: 67px;
  left: 0;
  top: 30rem;
}
.btn-blue {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  left: 0px;
  top: 0px;

  background: #0a3871;
  border-radius: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
  flex-grow: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  justify-content: center;
}
.btn-white {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  left: 352px;
  top: 0px;

  /* Light gray */

  background: #d8dfe8;
  /* Dark blue/dark-blue-300 */

  border: 1px solid #0a3871;
  box-sizing: border-box;
  border-radius: 24px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;

  color: #0a3871;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  justify-content: center;
}
.canvas {
  margin-left: 2.5rem;
  width: 1024px;
  height: 800px;
}
.btn-div-canvas {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -70px;
  width: 680px;
  height: 67px;
  left: 28.5rem;
}
.btn-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 42rem;
}
.word-new {
  position: absolute;
  left: 30rem;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 481px) and (max-width: 796px) {
  .logo {
    left: 40px;
    right: 37.43%;
    top: 40px;
    bottom: 0%;
    width: 50px;
    height: 50px;
  }
  .btn-home {
    top: 16rem;
    left: 12.2rem;
  }
  .btn-word {
    width: 270px;
    height: 67px;
    top: 7rem;
    left: 0.7rem;
    font-size: 22px;
    line-height: 20px;
  }
  .btn-start {
    width: 289px;
    height: 100px;
    top: 0;
    font-size: 22px;
    line-height: 20px;
  }
  .btn-blue {
    width: 300px;
    height: 67px;
    left: 31.5%;
    top: 450px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .btn-white {
    width: 300px;
    height: 67px;
    left: 20px;
    top: 450px;
    font-size: 18px;
    line-height: 20px;
  }

  label {
    padding-left: 3rem;
    font-size: 18px;
  }
  .form-group {
    left: 1.5rem;
    top: 670px;
  }
  .btn-div {
    width: 680px;
    height: 57px;
    left: 0.5rem;
    top: 680px;
  }
  .text-input {
    width: 550px;
    height: auto;
    left: 2rem;
    top: 200px;
    font-size: 32px;
  }
  .canvas {
    margin-left: -4rem;
    width: 739px;
    height: 800px;
  }
  .btn-div-canvas {
    width: 680px;
    height: 67px;
    left: 9rem;
    top: 64rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    min-width: 375px;
    min-height: 667px;
  }
  .logo {
    left: 4.27%;
    right: 87.2%;
    top: 25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
  }
  .btn-home {
    top: 16rem;
    left: 4.2rem;
  }
  .btn-word {
    width: 200px;
    height: 57px;
    left: 1rem;
    top: 6.5rem;
    font-size: 16px;
    line-height: 0px;
  }
  .btn-start {
    width: 230px;
    height: 90px;
    left: 0;
    top: 0;
    font-size: 18px;
    line-height: 10px;
  }
  .btn-blue {
    width: 300px;
    height: 57px;
    left: 0;
    top: 450px;
    font-size: 18px;
    line-height: 20px;
  }
  .btn-white {
    width: 300px;
    height: 57px;
    left: 0;
    top: 480px;
    font-size: 18px;
    line-height: 20px;
  }
  label {
    width: 200px;
    height: 18px;
    left: 16px;
    top: 451px;
    font-size: 18px;
    padding-left: 2.5rem;
  }
  .form-group {
    left: 16px;
    top: 451px;
  }
  .btn-div {
    flex-wrap: wrap;
    width: 343px;
    height: 158px;
    left: 0;
    top: 30rem;
  }
  .text-input {
    width: 343px;
    height: auto;
    left: 16px;
    top: 152px;
    font-size: 32px;
    line-height: 150%;
  }
  .word-new {
    top: 0.4rem;
    left: 0.1rem;
  }
  .img-alert {
    left: 1rem;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }
  .canvas {
    margin-left: 2.5rem;
    width: 1024px;
    height: 800px;
  }
  .btn-div-canvas {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 28.5rem;
    top: 760px;
    margin-bottom: 25px;
  }
}
